POSTGRES_DB=monitor_notas
POSTGRES_USER=monitor_notas
POSTGRES_PASSWORD=monitor_notas
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/monitor_notas
SPRING_DATASOURCE_USERNAME=monitor_notas
SPRING_DATASOURCE_PASSWORD=monitor_notas
APP_ENV=development
APP_STORAGE_PATH=/data/storage
CERT_STORAGE_PATH=/data/storage/certificates
CERT_PASSWORD=
SEFAZ_AMBIENTE=HOMOLOGACAO
ERP_XML_IMPORT_ENABLED=false
ERP_XML_HOST_PATH=./erp-xml-inbox
ERP_XML_IMPORT_PATH=/data/erp-xml
ERP_XML_IMPORT_CRON=0 */5 * * * *
SEFAZ_FALLBACK_ENABLED=true
SEFAZ_MAX_CONSULTAS_POR_EXECUCAO=18
BACKEND_PORT=8080
FRONTEND_PORT=3000
